---
import { getAll } from '../data/data';

const data = await getAll();
---

{
  data.map((a) => (
    <li class="flex gap-2 items-center mb-2">
      <img src={a.cover} alt={a.title} class="w-20 aspect-square" />
      <div>
        <h3 class="text-xl">{a.title}</h3>
        <p>{a.songs.length} songs</p>
      </div>
    </li>
  ))
}
